<footer>
  <div class="footer-content">
    <a href="#" class="footer-logo">
      <img src="../static/img/svg/HackGenius_logo.svg" alt="" />
    </a>
    <h3 class="copy-write" id="year"></h3>
    <ul class="footer-links">
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Legal Terms</a></li>
      <li><a href="#">FAQ's</a></li>
    </ul>
  </div>
</footer>

<!-- typed.js - A jQuery typing animation script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>

<!-- custom script -->
<script src="../static/app.js"></script>

</body>
</html>