{% extends 'bootstrap/base.html' %} {% import "bootstrap/wtf.html" as wtf %} {%
block content %}{% include "header.html" %}

<div class="post">
  <h1>{{post.title}}</h1>
  <h2>{{post.subtitle}}</h2>
  <p>Posted by {{post.author.name}} on {{post.date}}</p>
</div>
<!-- Post Content -->

<div class="post-space">
  <div class="post-para">{{ post.body|safe }}</div>
  {% if current_user.id == 1 %}
  <div class="edit">
    <a href="{{url_for('edit_post', post_id=post.id)}}">Edit Post</a>
  </div>
  {% endif %}

  <!--           Comments Area -->
  <!-- Load the CKEditor -->
  {{ ckeditor.load() }}
  <!-- Configure it with the name of the form field from CommentForm -->
  {{ ckeditor.config(name='comment_text') }}
  <!-- Create the wtf quickform from CommentForm -->
  {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
  <div class="comments">
    {% for comment in post.comments: %}

    <ul>
      <li class="comment">
        <div>
          <img src="{{ comment.comment_author.email | gravatar }}" />
        </div>
        <div>
          {{comment.text|safe}}
          <span>{{comment.comment_author.name}}</span>
        </div>
      </li>
    </ul>
    {% endfor %}
  </div>
</div>

{% include "footer.html" %} {% endblock %}
